<header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
  <p>this is more for a test here</p>
  <div>
    <span> this is the new place to type here {{ testText }} </span>
    <span> this is a fun place to type {{ testText }} </span>
    <span> this is a cool place to type {{ testText }} </span>
  </div>
  <div class="test">
    <h1>TEST THIS!</h1>
  </div>

  <app-note-pad> </app-note-pad>
</header>
